@model IEnumerable<PlayerDto>
@{
    bool HasFantasyTeam = ViewBag.HasTeam;
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
<style>
    .fantasy-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        font-size: 1.25rem;
        transition: background-color 0.3s ease;
    }

        .fantasy-button:hover {
            background-color: #0056b3;
        }

        .fantasy-button .icon {
            margin-right: 10px;
            font-size: 1.5rem;
        }

    .player-card {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 15px;
        margin-bottom: 20px;
        width: 30%;
    }


        .player-card img {
            width: 100%;
            height: 50%;
            border-radius: 8px;
            margin-bottom: 10px;
        }



        .player-card h4 {
            margin-bottom: 5px;
        }

        .player-card p {
            margin-bottom: 3px;
        }
</style>

<body>
    <div class="container mt-5">
        <div class="d-flex justify-content-center">
            @if (!HasFantasyTeam)
            {
                <a asp-controller="Fantasy" asp-action="CreateTeam" class="fantasy-button">
                    <i class="bi bi-plus-circle icon"></i>
                    Create Fantasy Team
                </a>
            }else if(!Model.Any())
            {
                <a asp-controller="Country" asp-action="Index" class="fantasy-button">
                    <i class="bi bi-plus-circle icon"></i>
                    Buy Players
                </a>
            }
            else
            {
                <a asp-controller="Fantasy" asp-action="StartGame" class="fantasy-button">
                    <i class="bi bi-plus-circle icon"></i>
                    Go to Match
                </a>
            }
            
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center">Your Squad</h4>
                <br />
                <br />
                <div class="d-flex flex-wrap justify-content-start">
                    @foreach (var player in Model)
                    {
                        <div class="player-card mx-2 mb-3">
                            <img src="@Url.Content($"~/img/Player/{player.ID}/{player.ID}.jpg")" alt="@player.Name" class="img-fluid rounded-circle" style="width: 70px; height: 70px;" />
                            <h5 class="text-center">@player.Name</h5>
                            <p class="text-center">Position: @player.Position</p>
                            <p class="text-center">Number: @player.TshirtNumber</p>
                            <p class="text-center">Age: @player.Age</p>
                            <p class="text-center">
                                Country:
                                <img src="@Url.Content($"~/img/Country/{player.CountryID}/{player.CountryID}.jpg")" alt="@player.Name" style="width: 30px; height: 30px; border-radius: 50%;" />
                            </p>
                            <p class="text-center">Fantasy Price: $@player.FantasyPrice</p>
                            <p class="text-center">Fantasy Sell Price: $@(player.FantasyPrice * 0.8m)</p>

                            <form asp-controller="Fantasy" asp-action="SellPlayer" method="post">
                                <input type="hidden" name="playerId" value="@player.ID" />
                                <input type="hidden" name="amount" value="@player.FantasyPrice" />

                                <button type="submit" class="btn btn-success">
                                    <i class="bi bi-check-square"></i> Sell
                                </button>
                            </form>

                        </div>
                    }
                   
                </div>
                <br />
                <h3 class="text-center">Squad Price : @Model.Sum(x=> x.FantasyPrice) $</h3>
            </div>
        </div>
    </div>





    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

</body>

